[Desktop Entry]
Name=QRtag
Comment=QRtag
Exec=/usr/share/qrtag/main.py
Icon=qrtag
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=true
StartupWMClass=main.py
